@import '../../scss/variables';

.container {
  width: $container-width;
  margin: 0 auto;

  &__cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}
